@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    color: #101010;
    background-color: #333;
    font-weight: 700;
}


/* Header (logo & nav bar) */

.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: #101010;
    color: #c0aa3c;
}

.header h1 {
    font-family: "Playfair Display", serif;
}

.header-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-inner a,
.footer-inner a {
    text-decoration: none;
    color: #c0aa3c;
}

.menu a:hover {
    color: antiquewhite;
}

/* burger menu CSS start */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #c0aa3c;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* hambuger menu CSS end */

/* Sections */

.section,
.form-submit {
    position: relative;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.section-heading {
    font-family: "Playfair Display", serif;
}

.section-content {
    text-align: center;
    margin: 0 auto;
}

.section-three {
    background: url('../images/sheet-music-book.jpg') no-repeat center center;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container {
    height: 400px;
    width: 400px;
    margin: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Form */

.signup-form {
    padding: 10px;
    background-color: rgba(192, 170, 60, 0.75);
    border-radius: 10px;
}

.signup-form hr {
    border-top: solid 1px #c0aa3c;
}

form {
    margin: 0 auto;
}

.form-label {
    font-weight: 900;
}

fieldset {
    border: solid 1px #202020;
    padding: 10px;
    line-height: 25px;
}

.voicepart {
    display: inline-block;
}

.if-unsure {
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}

.submit-container {
    text-align: center;
}

.submit {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #202020;
    color: #c0aa3c;
    font-size: larger;
    text-align: center;
}


/* Footer (with social media links) */

footer {
    background-color: #101010;
    height: 100px;
    text-align: center;
}

.footer-inner {
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 300%;
}

/* Form Submission Page */

.form-submit {
    background: url('../images/sheet-music-book.jpg') no-repeat center center;
}

.thanks-signup {
    background-color: #101010;
    color: #c0aa3c;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
}

/* Media Queries */

/* hamburger menu media query start */

@media (max-width: 1050px) {

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 1.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #c0aa3c;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* hamburger menu media query end */

@media screen and (min-width: 280px) {

    .header {
        height: 3.125rem;
    }

    .header h1 {
        font-size: 105%;
    }

    .section {
        flex-direction: column-reverse;
        scroll-margin-top: 3.125rem;
        height: fit-content;
    }

    .section-content {
        padding: 0.625rem;
    }

    .section-image {
        width: 100%;
        overflow: hidden;
    }

    .section-image img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .section-one,
    .form-submit {
        padding-top: 3.125rem;
    }

    .signup-form {
        width: 90%;
        max-width: 28.125rem;
        margin-top: 0.625rem;
    }

    form {
        max-width: 26.875rem;
    }

    .logo-container {
        height: 300px;
        width: 300px;
    }

    .form-submit {
        height: calc(100vh - 19.375rem);
    }

}

@media screen and (min-width: 375px) {

    .header h1 {
        font-size: 140%;
    }

}

@media screen and (min-width: 768px) {

    .header {
        height: 75px;
        font-size: 175%;
    }

    .section {
        scroll-margin-top: 75px;
    }

    .section-one,
    .form-submit {
        padding-top: 75px;
    }

    .section-three {
        flex-direction: row;
    }

    .signup-form {
        margin: 10px;
    }

    .form-submit {
        height: calc(100vh - 175px);
    }

}

@media screen and (min-width: 1280px) {

    .header h1 {
        font-size: 190%;
    }

    .section {
        flex-direction: row;
        height: calc(100vh - 75px);
        width: 100%;
    }

    .section-image {
        width: 50%;
        overflow: hidden;
    }

    .section-image img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .section-two {
        flex-direction: row-reverse;
    }

    .section-three,
    .form-submit {
        height: calc(100vh - 175px);
    }

    .logo-container {
        height: 400px;
        width: 400px;
    }

    .signup-form {
        min-width: 720px;
        max-width: 50%;
        max-height: 90%;
    }

    form {
        max-width: fit-content;
    }

    fieldset {
        height: 250px;
    }

    .fieldset-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .form-fieldset {
        max-width: 40%;
    }

    .submit-container {
        text-align: left;
        margin-left: 10px;
    }

}

@media screen and (min-width: 1600px) {

    .header {
        height: 100px;
    }

    .header h1 {
        font-size: 250%;
    }

    .section {
        height: calc(100vh - 100px);
        scroll-margin-top: 100px;
    }

    .section-one,
    .form-submit {
        padding-top: 100px;
    }

    .section-three,
    .form-submit {
        height: calc(100vh - 200px);
    }

    .signup-form {
        max-width: 900px;
    }

    .submit-container {
        margin-left: 30px;
    }
}