@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
}


/* Header (logo & nav bar) */

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
    font-family: "Playfair Display", serif;
    width: 100%;
    position: fixed;
    background-color: #101010;
    color: #ccaf1f;
}

.site-logo-container {
    margin: 1%;
}

.site-logo {
    max-width: 100%;
    height: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    margin-left: 20px;
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: #c0aa3c;
    font-size: 150%;
}

.navbar a:hover {
    color: #eee;
}

.nav-placeholder {
    width: 100%;
    height: 220px;
}

/* Sections */

.section {
    height: calc(100vh - 220px);
    width: 100%;
    position: relative;
    display: flex;
}

.section-placeholder {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
}

.section-heading {
    font-family: "Playfair Display", serif;
}

.section-image {
    width: 50%;
    overflow: hidden;
}

.section-image img {
    max-height: 100%;
    width: auto;
}

/* Section 1 (Home) */

.section-one {
    background-color: #505050;
}

/* Section 2 (Upcoming Concerts) */

.section-two {
    background-color: #808080;
}

/* Section 3 (Join the Choir) */

.section-three {
    background-color: #202020;
    height: calc(100vh - 370px);
}

fieldset {
    border: solid 2px #c0aa3c;
}

.logo-container {
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 15%;
    border-style: solid 1px;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Footer (with social media links) */

footer {
    background-color: #101010;
    height: 150px;
}