@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Serif:ital,wght@1,500&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #333;
}


/* Header (logo & nav bar) */

.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: #111;
    color: #c0aa3c;
}

.header h1 {
    font-family: "Playfair Display", serif;
}

.header-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-inner a,
.footer-inner a {
    text-decoration: none;
    color: #c0aa3c;
}

.menu a:hover,
.footer-links a:hover {
    color: #faebd7;
}

/* burger menu CSS start */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #c0aa3c;
    position: absolute;
    height: 0.25rem;
    width: 1.875rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0.125rem;
}

.menu-button::before {
    content: '';
    margin-top: -0.5rem;
}

.menu-button::after {
    content: '';
    margin-top: 0.5rem;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

/* hambuger menu CSS end */

/* Sections */

.section,
.form-submit {
    position: relative;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #faebd7;
}

.section-heading {
    font-family: "Playfair Display", serif;
    padding: 1rem;
}

.section-content {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-paragraph {
    font-family: "Roboto Serif", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25rem;
}

.interested {
    background-color: #c0aa3c;
    border-radius: 0.8rem;
    margin: 1rem auto;
    box-shadow: 0px 0px 20px 0px #222;
}

.interested h3 {
    font-family: "Roboto Serif", serif;
    font-size: 1.5rem;
}

.section-content a {
    text-decoration: underline;
    color: #111;
    font-weight: bold;
}

.section-content a:hover {
    color: #8B6914;
}

.section-three {
    background: #faebd7 url('../images/sheet-music-book.jpg') no-repeat fixed center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container {
    margin: 0.625rem;
    max-height: 400px;
    max-width: 400px;
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Form */

.signup-heading {
    font-family: "Playfair Display", serif;
    text-align: center;
}

.signup-form {
    padding: 0.625rem;
    background-color: rgba(192, 170, 60, 0.75);
    border-radius: 0.625rem;
    margin-bottom: 0.5rem;
}

.signup-form h3 {
    text-align: center;
}

.signup-form hr {
    border-top: solid 0.125rem #b6a139;
    margin: 0.5rem 0;
}

form {
    margin: 0 auto;
}

.form-label {
    font-weight: 900;
}

fieldset {
    border: solid 0.1rem #222;
    padding: 0.625rem;
    line-height: 1.8;
}

.voicepart {
    display: inline-block;
}

.if-unsure {
    font-weight: bold;
    font-style: italic;
    padding-left: 0.5rem;
}

.submit-container {
    text-align: center;
}

.submit {
    margin-top: 0.625rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.438rem;
    background-color: #222;
    color: #c0aa3c;
    font-size: larger;
    text-align: center;
}


/* Footer (with social media links) */

footer {
    background-color: #111;
    height: 6.25rem;
    text-align: center;
}

.footer-inner {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #c0aa3c;
}

.footer-links {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Form Submission Page */

.form-submit {
    background: #faebd7 url('../images/sheet-music-book.jpg') no-repeat fixed center;
    background-size: cover;
    max-width: 1920px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.thanks-signup {
    background-color: #111;
    color: #c0aa3c;
    margin: 3.125rem 0.5rem;
    padding: 1rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 33rem;
    height: fit-content;
}

.thanks-signup h2,
.thanks-signup p {
    padding: 0.5rem;
}

.thanks-signup i {
    padding-top: 1rem;
    font-size: 2em;
}

.rehearsal-photos {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
}

.rehearsal-photos img {
    object-fit: contain;
    padding: 0.125rem;
    margin-bottom: 0.25rem;
}

/* Media Queries */

/* hamburger menu media query start */
@media (max-width: 1050px) {

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 3.125rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 1.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #c0aa3c;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 0.625em solid #444;
    }
}

/* hamburger menu media query end */

@media screen and (min-width: 280px) {

    .header {
        height: 3.125rem;
    }

    .header h1 {
        font-size: 1rem;
    }

    .section {
        flex-direction: column;
        scroll-margin-top: 3.125rem;
        height: fit-content;
    }

    .section-heading,
    .signup-heading {
        font-size: 1.75rem;
    }

    .section-content p {
        padding: 0.625rem;
        margin: 0 auto;
        max-width: 90%;
    }

    .interested {
        padding: 1rem;
        width: 90%;
    }

    .section-image {
        width: 100%;
        overflow: hidden;
    }

    .section-image img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .section-one,
    .form-submit {
        padding-top: 3.125rem;
    }

    .signup-form {
        width: 90%;
        max-width: 28.125rem;
        margin-top: 0.625rem;
    }

    form {
        max-width: 26.875rem;
    }

    .footer-links {
        font-size: 1.75rem;
    }

    .footer-inner p {
        padding: 0 1rem;
    }

    .rehearsal-photos {
        flex-direction: column;
        width: 95%;
    }

    .rehearsal-photos img {
        width: 100%;
        height: auto;
        background-color: #111;
    }
}

@media screen and (min-width: 375px) {

    .header h1 {
        font-size: 1.4rem;
    }

    .interested {
        max-width: 29.688rem;
    }

    .footer-links {
        font-size: 2rem;
    }

}

@media screen and (min-width: 550px) {

    .form-submit {
        min-height: calc(100vh - 9.375rem);
    }

    .rehearsal-photos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .rehearsal-photos img {
        width: 49%;
    }

}

@media screen and (min-width: 768px) {

    .header {
        height: 4.688rem;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .menu {
        margin-top: 4.688rem;
        font-size: 1.1rem;
    }

    .section {
        scroll-margin-top: 4.688rem;
    }

    .section-one,
    .form-submit {
        padding-top: 4.688rem;
    }

    .section-content h2 {
        font-size: 2rem;
    }

    .section-content p {
        margin: 0 auto;
        max-width: 50.625rem;
    }

    .section-three {
        flex-direction: row;
    }

    .signup-form {
        margin: 0.625rem;
    }

    .form-submit {
        min-height: calc(100vh - 10.938rem);
    }

    .footer-links {
        font-size: 2.5rem;
    }

    .rehearsal-photos img {
        width: 49%;
    }

}

@media screen and (min-width: 1050px) {

    .menu {
        margin-top: 0;
        font-size: 1.1rem;
    }

    .menu a {
        font-size: 1.2em;
    }

    .rehearsal-photos {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        background-color: #111;
    }

    .rehearsal-photos img {
        width: 25%;
        height: auto;
        margin-top: 0.125rem;
        overflow: hidden;
    }

    .footer-links {
        font-size: 2.75rem;
    }

}

@media screen and (min-width: 1280px) {

    .menu {
        font-size: 1.2rem;
    }

    .section {
        flex-direction: row;
        height: calc(100vh - 4.688rem);
        width: 100%;
    }

    .section-image {
        width: 50%;
        overflow: hidden;
    }

    .section-image img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .section-content {
        width: 50%;
    }

    .section-heading {
        font-size: 200%;
    }

    .section-content p {
        max-width: 85%;
    }

    .section-two {
        flex-direction: row-reverse;
    }

    .section-three,
    .form-submit {
        height: calc(100vh - 10.938rem);
    }

    .signup-form {
        min-width: 45rem;
        max-width: 50%;
        max-height: 90%;
    }

    form {
        max-width: fit-content;
    }

    fieldset {
        height: 15.625rem;
    }

    .your-voice {
        min-width: 15rem;
    }

    .fieldset-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .form-fieldset {
        max-width: 40%;
    }

    .submit-container {
        text-align: left;
        margin-left: 0.625rem;
    }

    .footer-links {
        font-size: 3rem;
    }

}

@media screen and (min-width: 1600px) {

    .header {
        height: 6.25rem;
    }

    .header h1 {
        font-size: 3.25rem;
    }

    .menu {
        font-size: 1.4rem;
    }

    .section {
        height: calc(100vh - 6.25rem);
        scroll-margin-top: 6.25rem;
    }

    .section-one,
    .form-submit {
        padding-top: 6.25rem;
    }

    .section-three,
    .form-submit {
        height: calc(100vh - 12.5rem);
    }

    .signup-form {
        max-width: 56.25rem;
    }

    .submit-container {
        margin-left: 1.875rem;
    }
}